<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:application.properties" />
  </bean>

  <bean id="httpClient" class="org.xylophones.webscraper.http.CommonsHttpPageFetcher">
  	<constructor-arg index="0" value="${application.useragent}"/>
  </bean>
  
  <bean id="throttledHttpClient" class="org.xylophones.webscraper.http.ThrottleDecoratingPageFetcher">
  	<constructor-arg index="0" ref="httpClient"/>
  	<constructor-arg index="1" value="${num.concurrent.requests}"/>
  </bean>
  
  <bean id="intervalHttpClient" class="org.xylophones.webscraper.http.IntervalDecoratingPageFetcher">
  	<constructor-arg index="0" ref="throttledHttpClient"/>
  	<constructor-arg index="1" value="${request.min.interval.ms}"/>
  </bean>

  <bean id="tidyHttpClient" class="org.xylophones.webscraper.http.TidyDecoratingPageFetcher">
  	<constructor-arg index="0" ref="intervalHttpClient"/>
  </bean>
  
  <!--  
  <bean id="robotsTxtFetcher" class="org.xylophones.webscraper.RobotsTxrFetcher">
  	<constructor-arg index="0" ref="intervalHttpClient"/>
  	<constructor-arg index="1" value="${request.min.interval.ms}"/>
  </bean>
  
  <bean id="robotsTxtHttpClient" class="org.xylophones.webscraper.http.RobotsTxtDecoratingPageFetcher">
  	<constructor-arg index="0" ref="intervalHttpClient"/>
  	<constructor-arg index="1" ref="robotsTxtFetcher"/>
  </bean>
  -->

  <bean id="xPathParser" class="org.xylophones.webscraper.parser.XPathParser"/>
  
  <bean id="scraper" class="org.xylophones.webscraper.Scraper">
  	<constructor-arg index="0" ref="tidyHttpClient"/>
  	<constructor-arg index="1" ref="xPathParser"/>
  </bean>
 
</beans>
